.root-layout {
  position: relative;
}
/* .main-layout {position: absolute;
  top: 170px;  
  left: 5%;
  
}  */
.navbar-container {
  position: absolute;
  top: 20px;  
  left: 0;
  /* right: 0; */
  width: 100%;
  height: 150px;
} 

/* On smaller screens, stack in a column */
@media (max-width: 767px) {
.navbar-container {
  
  height: 150px;
  overflow-y: scroll;
  overflow-x:hidden;
} 
  
.main-layout {position: absolute;
  top: 170px;  
  
} 

.main-layout {position: absolute;
  display: flex; 
  flex-wrap: wrap;
  
} 

}

/* 
.root-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout {
  flex: 1;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar-container {
    position: absolute;
    top: 10%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10%; 
  opacity: 0.5;
}  */
