.search{
  display: flex;
  flex-direction: column;
padding-left: 5%;
padding-right: 5%;

}


.dropdown{
    height:60px;
    width:50%;
    /* opacity: 0.5; */
}

.dropdown select {
    background-color: #000;
    color: white;
    padding: 8px 4px;
}

#searchInput{
    background-color: #000;
    color: white;
    padding: 2px;
    width: 50%;
}


.search-bar{
  color:white;
  display: flex;
  justify-content: space-between;
margin-top: 10%;
}


.search-bar li:hover{
   color: orange;
   cursor:pointer;
}

.row {
  color: white;
  margin: auto;
  position: relative;
  width: 100%;
}

.row_search_posters {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  z-index: 1;
}


.row_posters::-webkit-scrollbar {
  display: none;
}

.row_search_poster {
  max-width: 350px;
  object-fit: contain;
  /* width: 35%; */
  transition: transform 450ms;
  margin: 10px auto;
}

.row_search_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_search_posterLarge {
  max-height: 250px;
}

.row_search_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}


.overlay {
  background-color: rgba(0 0 0 0.50);
  
}
.content {
  position: fixed;
  top: 5%;
  left: 25%;
  height: 100vh;
  width: 35%;
  transform: translate(-50% -50%);
  background: #000;
  color: white;
  border: 1px solid #000;
  border-radius: 10px;
  background: #000;
  overflow-y: scroll;
}

.modal-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.modal-img{
    
    width: 100%;
    height: 350px;
    /* position: absolute; */
    /* top: 1; */
}



 .model-text {
              background-color: white;
              /* position: absolute; */
              /* bottom: 0; */
              /* left: 0; */
              width: 45%;
            } 


@media (max-width: 1000px){

  .search-bar{
  margin-top: 25%;
  }

}

@media (max-width: 764px){

  .search-bar{
  margin-top: 30%;
  }

}

@media (max-width: 600px){

  .search-bar{
  margin-top: 35%;
  }
}

  @media (max-width: 300px){

  .search-bar{
  margin-top: 45%;
  }


}
  
